$app-opacity: 0.75;
$app-header-height: 10vh;
.App {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.AppHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $app-header-height;
    border-bottom: 1px solid rgba(238, 238, 238, $app-opacity);
    background-color: rgba(245, 245, 245, $app-opacity);
    backdrop-filter: blur(5px);
    z-index: 50;
    & > .title {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        flex: 1;
    }
}
.AppMain {
    flex: 1;
    height: 100%;
    background-color: #fafafa;
    overflow-y: scroll;
    padding-top: 20vh;
    margin-top: -20vh;
}
.AppTabs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(245, 245, 245, $app-opacity);
    border-top: 1px solid rgba(238, 238, 238, $app-opacity);
    backdrop-filter: blur(10px);
    ul {
        list-style: none;
        display: flex;
        li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 3px solid #333;
            // border-left: none;
            a {
                width: 100%;
                text-decoration: none;
                padding: 2vh 20px;
                text-align: center;
            }
        }
    }
}

// ------------------------------------------------------------------------------------------
/**
 * AuthenticationView
 */
 .AuthenticationView {
    .AuthForm {
        .msg-banner {
            margin: 2vh 5vw;
            padding: 2vh 4vw;
            font-size: 14px;
            &.--error {
                border: 1px solid #A00;
                background: rgba(230, 90, 90, 0.5);
                color: #800;
            }
            &.--success {
                border: 1px solid rgb(0, 170, 77);
                background: rgba(106, 230, 90, 0.5);
                color: rgb(0, 136, 7);
            }
            &.--hidden {
                opacity: 0;
                display: none;
            }
        }
    }
}

/**
 * ExploreView
 */
 .ExploreView {
	.SearchResults > * { margin: 2vh 5vw; }
    .Rating {
        .app-icons {
            &.--empty {
                color: lightgrey;
            }
            &.--filled {
                color: yellow;
            }
        }
    }
}

// ------------------------------------------------------------------------------------------
/**
 * ProfileView
 */
 .ProfileView {
    .profile-form {
        // display: grid;
        // grid-template-columns: 2fr 5fr;
        // padding-top: 20px;
        & > * {  // inputs, textarea, button
            margin: 10px 20px;
        }
        & > *:nth-child(even)  // labels
        {
            flex: 70%;
        }
        & > *:nth-child(odd)  // inputs
        {
            flex: 30%;
        }
        & > *:last-child  // submit btn
        {
            flex: 100%;
        }
        textarea {
            min-height: 30vh;
            padding: 10px;
        }
    }
}