.App {
  flex: 1;
  display: flex;
  flex-direction: column; }

.AppHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  border-bottom: 1px solid rgba(238, 238, 238, 0.75);
  background-color: rgba(245, 245, 245, 0.75);
  backdrop-filter: blur(5px);
  z-index: 50; }
  .AppHeader > .title {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    flex: 1; }

.AppMain {
  flex: 1;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll;
  padding-top: 20vh;
  margin-top: -20vh; }

.AppTabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(245, 245, 245, 0.75);
  border-top: 1px solid rgba(238, 238, 238, 0.75);
  backdrop-filter: blur(10px); }
  .AppTabs ul {
    list-style: none;
    display: flex; }
    .AppTabs ul li {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
      .AppTabs ul li a {
        width: 100%;
        text-decoration: none;
        padding: 2vh 20px;
        text-align: center; }

/**
 * AuthenticationView
 */
.msg-banner {
  margin: 2vh 5vw;
  padding: 2vh 4vw;
  font-size: 14px; }
  .msg-banner.--error {
    border: 1px solid #a00;
    background: rgba(230, 90, 90, 0.5);
    color: #800; }
  .msg-banner.--success {
    border: 1px solid #00aa4d;
    background: rgba(106, 230, 90, 0.5);
    color: #008807; }
  .msg-banner.--hidden {
    opacity: 0;
    display: none; }

/**
 * ExploreView
 */
.ExploreView .SearchResults > * {
  margin: 2vh 5vw; }

.ExploreView .Rating .app-icons.--empty {
  color: lightgrey; }

.ExploreView .Rating .app-icons.--filled {
  color: yellow; }

/**
 * ProfileView
 */
.ProfileView .profile-form > * {
  margin: 10px 20px; }

.ProfileView .profile-form > *:nth-child(even) {
  flex: 70%; }

.ProfileView .profile-form > *:nth-child(odd) {
  flex: 30%; }

.ProfileView .profile-form > *:last-child {
  flex: 100%; }

.ProfileView .profile-form textarea {
  min-height: 30vh;
  padding: 10px; }
